.main-btn {
  border: none;
  background-color: $color-primary;
  padding: 1rem;
  color: $color-secondary;
  cursor: pointer;
}

.logout-btn {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: $color-primary;
  padding: 20px;
  color: #fff;
  font-weight: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.43);
  transition: all 0.2s;
  text-transform: uppercase;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: darken($color-primary, 5%);
    }
  }
}
