*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (min-width: 768px) {
    font-size: 70%;
  }

  @media only screen and (min-width: 1500px) {
    font-size: 80%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
